{% extends '../layouts/admin.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  Registration
                </div>
                <form class="jqForm" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Username</label>
                            <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value | default_if_none:'' }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value | default_if_none:'' }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="{{ form.password1.id_for_label }}">Password</label>
                            <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                            <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" required equalTo="#{{ form.password1.id_for_label }}">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
              </div>
        </div>
    </div>
</div>

{% endblock %}